

/* --- CSS Variables --- */

:root {
  --main: ;
  --alt: ;
}

/* --- Global Variables --- */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", Arial, 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
}

li:hover {
  color: red;
}