.logo-tag {
    color: $main;
    font-weight: 500;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    margin: 0 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9rem;
  
    &.cta,
    &.cta:active,
    &.cta:visited {
      color: $main;
      font-weight: 600;
    }

    &.cta:hover,
    &.cta:focus{
      color: #fff;
    }
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }