.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2rem 0 1rem;
}

.social-link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
}

.social-link:hover, .social-link:active {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.social-link.linkedin:hover, .social-link.linkedin:active {
  color: #007bb5;
}

.social-link.github:hover, .social-link.github:active {
  color: #6e5494;
}

.logo-tag {
  color: #00d0ff;
  font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link {
  margin: 0 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.navbar-dark .navbar-nav .nav-link.cta, .navbar-dark .navbar-nav .nav-link.cta:active, .navbar-dark .navbar-nav .nav-link.cta:visited {
  color: #00d0ff;
  font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link.cta:hover, .navbar-dark .navbar-nav .nav-link.cta:focus {
  color: #fff;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.hero {
  min-height: 100vh;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.hero:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(45deg, #fff 40%, #00d0ff 100%);
  opacity: 0.2;
  z-index: -1;
}

.hero .intro {
  margin: auto 0;
  position: absolute;
  top: 35%;
}

.hero .intro p {
  font-size: 1.5rem;
}

.hero .intro .cta {
  margin-top: 1.5rem;
}

.hero .social-links {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.projects-row {
  padding: 2rem 0;
}

.project-card {
  display: -ms-grid;
  display: grid;
  width: 300px;
  -ms-grid-columns: 300px;
  grid-template-columns: 300px;
  -ms-grid-rows: 300px 100px 100px 50px;
  grid-template-rows: 300px 100px 100px 50px;
      grid-template-areas: "image" "text" "skills" "links";
  background: #fff;
  text-align: center;
  margin: 2rem auto;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 18px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project-card:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.project-img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  max-width: 100%;
}

.project-img img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.project-text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: text;
  padding: 1rem;
}

.project-text p,
.about-box p {
  font-size: 0.95rem;
  color: #909090;
}

.project-skills {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: skills;
  color: #909090;
}

.project-skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  position: relative;
  top: 40%;
}

.project-skills li {
  background-color: #c2f3ff;
  border-radius: 0.25rem;
  padding: 0.25rem 0.4em;
  font-size: 0.9rem;
}

.project-links {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: links;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: 1px solid #d4d4d4;
}

.project-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0.625rem;
}

.project-link.demo {
  border-left: 1px solid #d4d4d4;
  border-bottom-right-radius: 15px;
  background: #00d0ff;
  color: #fff;
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project-link.demo:hover, .project-link.demo:active {
  background-color: #fff;
  color: #333;
}

.project-link.github {
  border-bottom-left-radius: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project-link.github:hover, .project-link.github:active {
  background-color: #00d0ff;
  color: #fff;
}

.avatar-box {
  margin: 0 auto;
  text-align: center;
}

.avatar-box .avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.about-box {
  padding: 2rem;
  margin: 0 auto;
}

.about-box p:first-of-type {
  margin-top: 2rem;
}

.about-box .social-links {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.skills-container {
  padding: 2rem 1rem 1rem;
  margin: 1rem;
  text-align: center;
  color: #019ed2;
  background-color: #fff;
  -webkit-box-shadow: -6px 10px 40px rgba(0, 0, 0, 0.06);
  box-shadow: -6px 10px 40px rgba(0, 0, 0, 0.06);
}

.skills-container p {
  color: #333;
  padding-top: 15px;
}

@media all and (min-width: 75em) {
  .skills-container {
    padding: 3rem;
  }
}

form {
  margin: 0 auto;
  padding: 3rem 1rem;
  width: 90%;
}

form input[type="text"],
form textarea {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #909090;
  padding: 0.4rem;
}

form input[type="submit"] {
  float: right;
}

@media all and (min-width: 48em) {
  form {
    width: 400px;
  }
}

footer {
  background-color: #343a40;
  color: #fff;
  height: 10rem;
  text-align: center;
  margin: 0 auto;
}

footer p {
  color: #a5a5a5;
}

footer svg {
  font-size: 2rem;
}

footer .back-to-top {
  position: relative;
  background-color: #ff6e10;
  bottom: 12px;
  padding: 10px 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .back-to-top:hover, footer .back-to-top:active {
  background-color: #f3ad38;
}

/* =========
GLOBAL VARIABLES
========= */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", Arial, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: #333;
}

img {
  max-width: 100%;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* =========
TYPOGRAPHY
========= */
h1,
h2,
.big-heading,
.cta.btn {
  text-transform: uppercase;
}

.name,
.cta.btn {
  font-weight: 500;
}

h1 {
  font-weight: bold;
  font-size: 2.1rem;
  letter-spacing: 2px;
}

@media all and (min-width: 22.5em) {
  h1 {
    font-size: 2.4rem;
  }
}

h2 {
  margin: 30px auto;
  text-align: center;
  font-size: 1.8rem;
  display: inline-block;
  letter-spacing: 5px;
  font-weight: 600;
}

h2:after {
  content: "";
  display: block;
  border-bottom: 3px solid #c2f3ff;
  width: 40%;
  margin: auto;
  position: relative;
  bottom: -25px;
}

h3 {
  font-size: 1.5rem;
}

.big-heading {
  font-size: 3.5rem;
  opacity: 0.05;
  position: absolute;
  font-weight: 700;
  left: 0;
  right: 0;
  top: 4px;
}

@media all and (min-width: 48em) {
  .big-heading {
    font-size: 4rem;
    top: -3px;
  }
}

.heading-box {
  text-align: center;
  position: relative;
}

/* =========
SECTIONS
========= */
section {
  padding: 2rem 0;
}

.skills-section,
.projects-section {
  background-color: #f9f9f9;
}

.row {
  padding: 2rem 0;
}

/* =========
CTA
========= */
.cta.btn {
  background-color: #00d0ff;
  border-color: #00d0ff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 2;
}

.cta.btn.btn-primary:hover, .cta.btn.btn-primary:active {
  background-color: #fff;
  color: #333;
  border-color: #00d0ff;
}
/*# sourceMappingURL=app.css.map */