/* --- CSS VARIABLES --- */

:root {
  --main: #00d0ff;
  --secondary: #c2f3ff;
  --alt: #019ed2;
  --grey: #d4d4d4;
  --dgrey: #909090;
  --greybg: #f9f9f9;
  --text: #333;
}

/* --- GLOBAL --- */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", Arial, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: var(--text);
}

section {
  padding: 2rem 0;
}

h1 {
  font-weight: bold;
  font-size: 2.1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media all and (min-width: 22.5em) {
  h1 {
    font-size: 2.4rem;
  }
}

h2 {
  margin: 30px auto;
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 5px;
  font-weight: 600;
}

h2:after {
  content: "";
  display: block;
  border-bottom: 3px solid var(--secondary);
  width: 40%;
  margin: auto;
  position: relative;
  bottom: -25px;
}

h3 {
  font-size: 1.5rem;
}

img {
  max-width: 100%;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.name {
  font-weight: 500;
}

.skills-section,
.projects-section {
  background-color: var(--greybg);
}

.big-heading {
  font-size: 3.5rem;
  opacity: 0.05;
  position: absolute;
  font-weight: 700;
  text-transform: uppercase;
  left: 0;
  right: 0;
  top: 4px;
}
@media all and (min-width: 48em) {
  .big-heading {
    font-size: 4rem;
    top: -3px;
  }
}

.heading-box {
  text-align: center;
  position: relative;
}

.row {
  padding: 2rem 0;
}

.cta.btn {
  background-color: var(--main);
  border-color: var(--main);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 500;
  z-index: 2;
  text-transform: uppercase;
}

.cta.btn.btn-primary:hover,
.cta.btn.btn-primary:active {
  background-color: #fff;
  color: var(--text);
  border-color: var(--main);
}

/* --- SOCIALS --- */

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2rem 0 1rem;
}

.social-link {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 1rem;
  transition: all 0.3s ease;
  display: inline-block;
}

.social-link:hover,
.social-link:active {
  transform: translateY(-10px);
}

.social-link.linkedin:hover,
.social-link.linkedin:active {
  color: #007bb5;
}

.social-link.github:hover,
.social-link.github:active {
  color: #6e5494;
}

/* --- HEADER --- */

.logo-tag {
  color: var(--main);
  font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link {
  margin: 0 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.navbar .nav-link.cta,
.navbar .nav-link.cta:active,
.navbar .nav-link.cta:visited {
  color: var(--main);
  font-weight: 600;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* --- HERO --- */

.hero {
  min-height: 100vh;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.hero:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -o-linear-gradient(45deg, #fff 40%, var(--main) 100%);
  background: linear-gradient(45deg, #fff 40%, var(--main) 100%);
  opacity: 0.2;
  z-index: -1;
}

.hero .intro {
  margin: auto 0;
  position: absolute;
  top: 35%;
}

.hero .intro p {
  font-size: 1.5rem;
}

.hero .intro .cta {
  margin-top: 1.5rem;
}

.hero .social-links {
  justify-content: flex-start;
}

/* --- PROJECTS --- */

.projects-row {
  padding: 2rem 0;
}

.project-card {
  display: -ms-grid;
  display: grid;
  width: 300px;
  -ms-grid-columns: 300px;
  grid-template-columns: 300px;
  -ms-grid-rows: 300px 100px 100px 50px;
  grid-template-rows: 300px 100px 100px 50px;
  grid-template-areas: "image" "text" "skills" "links";
  background: #fff;
  text-align: center;
  margin: 2rem auto;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 18px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project-card:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

.project-img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  max-width: 100%;
}

.project-img img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.project-text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: text;
  padding: 1rem;
}

.project-text p,
.about-box p {
  font-size: 0.95rem;
  color: var(--dgrey);
}

.project-skills {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: skills;
  color: var(--dgrey);
}

.project-skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  position: relative;
  top: 40%;
}

.project-skills li {
  background-color: var(--secondary);
  border-radius: 0.25rem;
  padding: 0.25rem 0.4em;
  font-size: 0.9rem;
}

.project-links {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: links;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: 1px solid var(--grey);
}

.project-links > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.project-links > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.project-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0.625rem;
}

.project-link.demo {
  border-left: 1px solid var(--grey);
  border-bottom-right-radius: 15px;
  background: var(--main);
  color: #fff;
  font-weight: 500;
  transition: all 0.3s ease;
}

.project-link.github {
  border-bottom-left-radius: 15px;
  transition: all 0.3s ease;
}

.project-link.github:hover,
.project-link.github:active {
  background-color: var(--main);
  color: #fff;
}

.project-link.demo:hover,
.project-link.demo:active {
  background-color: #fff;
  color: var(--text);
}

/* --- ABOUT --- */

.avatar-box {
  margin: 0 auto;
  text-align: center;
}

.avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.about-box {
  padding: 2rem;
  margin: 0 auto;
}

.about-box p:first-of-type {
  margin-top: 2rem;
}

.about-box .social-links {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

/* --- SKILLS --- */

.skills-container {
  padding: 2rem 1rem 1rem;
  margin: 1rem;
  text-align: center;
  color: var(--alt);
  background-color: #fff;
  -webkit-box-shadow: -6px 10px 40px rgba(0, 0, 0, 0.06);
  box-shadow: -6px 10px 40px rgba(0, 0, 0, 0.06);
}

@media all and (min-width: 75em) {
  .skills-container {
    padding: 3rem;
  }
}

.skills-container p {
  color: var(--text);
  padding-top: 15px;
}

/* --- CONTACT --- */

form {
  margin: 0 auto;
  padding: 3rem 1rem;
  width: 90%;
}

@media all and (min-width: 48em) {
  form {
    width: 400px;
  }
}

form input[type="text"],
form textarea {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid var(--dgrey);
  padding: 0.4rem;
}

form input[type="submit"] {
  float: right;
}

/* --- FOOTER --- */

footer {
  background-color: #343a40;
  color: #fff;
  height: 10rem;
  text-align: center;
  margin: 0 auto;
}

footer p {
  color: #a5a5a5;
}

footer svg {
  font-size: 2rem;
}

.back-to-top {
  position: relative;
  background-color: #ff6e10;
  bottom: 12px;
  padding: 10px 5px;
  transition: all 0.3s ease;
}

.back-to-top:hover,
.back-to-top:active {
  background-color: #f3ad38;
}
