/* --- CSS VARIABLES --- */

:root {
  --1: #00d0ff;
  --2: #c2f3ff;
  --3: #012060;
  --4: #016ba4;
  --5: #019ed2;
  --6: #67e3ff;
}

/* --- GLOBAL --- */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", Arial, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  padding: 30px 0;
}

h1 {
  font-weight: bold;
  font-size: 2.7rem;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.cta.btn {
  background-color: var(--1);
  border-color: var(--1);
}

.social-links {
  transition: all 0.3s;
  margin: 0 15px;
}

.social-links.linkedin:hover {
  color: #007bb5;
}

.social-links.github:hover {
  color: #6e5494;
}

/* --- HEADER --- */

.logo-tag {
  color: var(--1);
  font-weight: bold;
}

.nav-link {
  margin: 0 10px;
}

.navbar .nav-link.cta,
.navbar .nav-link.cta:active,
.navbar .nav-link.cta:visited {
  color: var(--1);
  font-weight: 500;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

/* --- HERO --- */

.hero {
  min-height: 100vh;
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
}

.hero .intro {
  margin: auto 0;
  position: absolute;
  top: 40%;
}

.hero .intro p {
    font-size: 1.5rem;
}


/* --- PROJECTS --- */

#projects {
}

.project-card {
  display: grid;
  width: 300px;
  grid-template-columns: 300px;
  grid-template-rows: 300px 100px 100px 50px;
  grid-template-areas: "image" "text" "skills" "links";
  background: #fff;
  text-align: center;
  margin: 2rem auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 18px;
  transition: all .3s;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-img {
  grid-area: image;
  max-width: 100%;
}

.project-img img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.project-text {
  grid-area: text;
  margin: 15px;
}

.project-text p {
  font-size: 0.9rem;
  color: grey;
}

.project-skills {
  grid-area: skills;
  color: grey;
}

.project-skills ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-inline-start: 0;
  position: relative;
  top: 40%;
}

.project-skills li {
  background-color: var(--2);
  border-radius: 0.25rem;
  padding: 0.25rem 0.4em;
  font-size: 0.9rem;
}

.project-links {
  grid-area: links;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: 1px solid var(--4);
}

.project-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.project-link:first-child {
  border-right: 1px solid var(--4);
  border-bottom-left-radius: 15px;
  background: var(--1);
  color: #fff;
  font-weight: 500;
}

/* --- ABOUT --- */

/* --- SKILLS --- */

.skills-container {
    padding: 40px 15px;
    margin: 0 auto;
    text-align: center;
    color: var(--5);
}

.skills-container p {
    color: black;
    padding-top: 15px;
}

/* --- CONTACT --- */

form {
    margin: 0 auto;
}

form input,
form textarea {
    display: block;
    width: 400px;
    margin-bottom: 2px;
}

input[type="submit"] {
    background-color: var(--6);
    border: 0;
    border-radius: 4px;
    height: 2.4rem;
}

/* --- FOOTER --- */

footer {
  background-color: #e9ecef;
  height: 10rem;
  text-align: center;
  margin: 0 auto;
}

footer ul {
  display: flex;
  justify-content: center;
  padding: 30px;
}

footer svg {
    font-size: 2rem;
}

footer .name {
  font-weight: 500;
}
